html {
	background-color: #b5e0ec;
}

h1 {
	font-weight: normal; /* normal, bold*/
	font-size: 5rem;
	font-style: italic; /* normal, italic*/
	text-decoration: underline; /* underline, line-through*/
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

ol{
	list-style-type: none;
	padding: 0;
	line-height: 1.5;
}

li{
	font-weight: bold;
}

.super{
	color: red;
}

a {
	color: purple;
}

a:hover{
	color:white;
}
